@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .2s;
  transition: .2s;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.container-fluid {
  max-width: 100%;
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0px 20px;
  margin: 0px auto;
}

h1,
h2,
h3 {
  font-size: 48px;
}

h4 {
  font-size: 34px;
}

.btn {
  display: none;
}

button {
  cursor: pointer;
}

.navbar .nav-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 3fr 1fr;
      grid-template-columns: 1.5fr 3fr 1fr;
  padding: 30px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-content .nav-brand img:hover {
  opacity: .7;
}

.navbar .nav-content .nav-links nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-content .nav-links nav ul li {
  list-style: none;
  margin-left: 15px;
}

.navbar .nav-content .nav-links nav ul li:nth-child(1) {
  margin-left: 0px;
}

.navbar .nav-content .nav-links nav ul li a {
  text-decoration: none;
  color: #1F2634;
  position: relative;
  font-family: 'Hellix';
}

.navbar .nav-content .nav-links nav ul li a:hover {
  color: #2BCDE4;
}

.navbar .nav-content .nav-login a {
  text-decoration: none;
  color: #1F2634;
  font-family: 'Hellix';
}

.navbar .nav-content .nav-login a:hover {
  color: #2BCDE4;
}

.navbar .nav-content .nav-login button {
  background-color: #2382E2;
  padding: 15px 35px;
  color: #fff;
  border: 0px none;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 15px;
  cursor: pointer;
}

.navbar .nav-content .nav-login button:hover {
  opacity: .7;
}

.info {
  margin: 50px 0px;
}

.info .info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info .info-content .info-intro .pre-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info .info-content .info-intro .pre-subtitle p {
  margin-left: 7px;
  margin-top: 3px;
  color: #2382E2;
}

.info .info-content .info-intro h1 {
  color: #1F2634;
  margin-top: 20px;
  font-family: 'Monument';
  font-weight: 400;
}

.info .info-content .info-intro p {
  color: #5A5A5A;
  max-width: 70%;
  margin-top: 20px;
  font-family: 'Hellix';
}

.info .info-content .info-intro .intro-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.info .info-content .info-intro .intro-btn button {
  padding: 13px 25px;
  color: #fff;
  border: 0px none;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Hellix';
  margin-left: 12px;
  cursor: pointer;
}

.info .info-content .info-intro .intro-btn button img {
  max-width: 50%;
  max-height: 50%;
  padding: 0px 4px;
}

.info .info-content .info-intro .intro-btn button:hover {
  opacity: .7;
}

.info .info-content .info-intro .intro-btn .trading {
  background-color: #2382E2;
  margin-left: 0px;
}

.info .info-content .info-intro .intro-btn .video {
  background-color: #2BCDE4;
}

.info .info-content .info-img img {
  max-width: 80%;
}

.app .app-content {
  background-image: url("../img/store-bg.png");
  background-size: 100% cover;
  background-repeat: no-repeat;
  padding: 50px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app .app-content .app-intro h1 {
  font-family: 'Monument';
  font-size: 34px;
  color: #fff;
  margin-top: 20px;
}

.app .app-content .app-intro p {
  font-family: 'Hellix';
  color: #fff;
  margin-top: 30px;
}

.app .app-content .app-intro .app-button {
  margin-top: 40px;
}

.app .app-content .app-intro .app-button button {
  background: transparent;
  border: 0px none;
}

.app .app-content .app-intro .app-button button:hover {
  opacity: .7;
}

.app .app-content .app-img img {
  max-width: 100%;
}

footer .footer-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .footer-content .footer-block h1 {
  font-size: 24px;
  font-family: 'Hellix';
}

footer .footer-content .footer-block p {
  font-family: 'Hellix';
  margin-top: 47px;
}

footer .footer-content .footer-block .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-content .footer-block .footer-link a {
  text-decoration: none;
  color: #000;
  font-family: 'Hellix';
  margin-top: 15px;
}

footer .footer-content .footer-block .footer-social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 70%;
}

footer .footer-content .footer-block .footer-social a {
  text-decoration: none;
  background-color: #F5F6F8;
  padding: 15px 15px;
  border-radius: 100%;
  cursor: pointer;
}

footer .footer-content .footer-block .footer-social a:hover {
  opacity: .7;
}

footer hr {
  border: 1px solid #A5A5A5;
  margin: 30px auto;
}

footer .footer-bottom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Hellix';
}

footer .footer-bottom-link .link-item {
  text-decoration: none;
  color: #5A5A5A;
}

footer .footer-bottom-link .links-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-bottom-link .links-block a {
  margin-left: 15px;
}

@media screen and (max-width: 1065px) {
  .container {
    max-width: 1240px;
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
  }
  .navbar .nav-content {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .navbar .nav-content .nav-login {
    display: none;
  }
  .navbar .nav-content .nav-links nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .nav-content .nav-links nav ul li {
    text-align: center;
    margin: 30px auto;
  }
  .navbar .nav-content .nav-links nav ul li:nth-child(1) {
    margin: 30px auto;
  }
  .navbar .nav-content .nav-links nav ul li a {
    text-align: left;
    color: #fff;
  }
  .menu {
    min-height: 100vh;
    background: #2382E2;
    width: 100%;
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 2000;
    padding: 15px 20px;
    -webkit-transition: .5s;
    transition: .5s;
    display: block;
  }
  .menu-active {
    top: 0%;
    left: 0%;
  }
  .btn {
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
    border: 0px none;
    outline: none;
    background: #2382E2;
    padding: 13px 13px;
    border-radius: 100%;
  }
  footer .footer-content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer .footer-content .footer-block {
    margin: 30px 0px;
  }
  footer .footer-bottom-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-bottom-link .link-item {
    margin: 20px auto;
  }
  footer .footer-bottom-link .links-block {
    margin: 20px auto;
  }
  footer .footer-bottom-link .links-img-block {
    margin: 30px auto;
  }
  .app .app-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app .app-content .app-img img {
    margin: 40px auto;
    max-width: 100%;
  }
  .app .app-content .app-intro {
    margin: 0px auto;
    text-align: center;
  }
  .info .info-content .info-intro .pre-subtitle {
    margin: 3px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 920px) {
  .container {
    max-width: 920px;
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
  }
  h1, h2, h3 {
    font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 920));
  }
  .info .info-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info .info-content .info-intro {
    text-align: center;
    margin: 0px auto;
  }
  .info .info-content .info-intro p {
    max-width: 80%;
    margin: 20px auto;
  }
  .info .info-content .info-intro .pre-subtitle {
    max-width: 100%;
    margin: 0px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info .info-content .info-intro .intro-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px auto;
  }
  .info .info-content .info-img img {
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer .footer-content .footer-block {
    margin: 30px auto;
  }
  footer .footer-content .footer-block .footer-social a {
    margin-left: 15px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    max-width: 540px;
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
  }
  .info .info-content .info-intro .pre-subtitle {
    margin: 0px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .info .info-content .info-intro .intro-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info .info-content .info-intro .intro-btn .trading {
    margin: 0px auto;
  }
  .info .info-content .info-intro .intro-btn .video {
    margin: 20px auto;
  }
  .info .info-content .info-intro p {
    max-width: 100%;
  }
  .info .info-content .info-img img {
    max-width: 100%;
    margin: 20px auto;
  }
  footer .footer-bottom-link .links-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-bottom-link .links-block a {
    text-align: center;
  }
  footer .footer-bottom-link .links-img-block img {
    max-width: 70%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */